.Footer{
    display: flex;
    height: 211px;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
}

.redes img{
    margin: 20px 20px;
}